@use '../../styles/variables.scss' as variables;

.pageWrap {
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 120px;
  background-color: white;
}

.headerPage {
  position: relative;
  height: 170px;
}
.pagePagination {
  font-family: 'Asimovian';
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.arrowLeft,
.arrowRight {
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #acacac;
  width: 49.6%;
  height: 100%;
  position: relative;
}
.arrowText {
  text-align: center;
}
.pokemonId {
  color: white;
}
.arrowBg {
  position: absolute;
  display: block;
  background-image: url(/images/arrowNavigation.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  top: 20px;
}
.arrowLeft .arrowBg {
  right: 20px;
  transform: rotate(90deg);
}
.arrowRight .arrowBg {
  left: 20px;
  transform: rotate(-90deg);
}

.arrowLeft:hover {
  background-color: rgb(44, 133, 174);
}
.arrowRight:hover {
  background-color: rgb(44, 133, 174);
}

.nameAndNumber {
  font-weight: 400;
  text-align: center;
  position: absolute;
  width: 60%;
  height: 100px;
  background-color: white;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 500;

  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
}
.roundingRight,
.roundingLeft {
  background-image: url(/images/white-peace.png);
  width: 137px;
  height: 113px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
}
.roundingRight {
  right: -133px;
  transform: scaleX(-1);
}
.roundingLeft {
  left: -133px;
}
.number {
  color: variables.$gray-text-color;
}

.mainContent {
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  margin-top: 20px;
}
.imageHolder {
  height: 80%;
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.image {
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
}
//stats
.stats {
  margin-top: 20px;
  height: 250px;
  width: 90%;
  border-radius: 10px;
  background-color: variables.$gray-bg-color;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.statHeading {
  font-size: 20px;
}
.statsBox {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 10px;
}
.stat {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.statBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.statName {
  height: 30px;
}
.stateFillFull,
.stateFillEmpty {
  height: 6%;
  border-radius: 2px;
}
.stateFillFull {
  background-color: rgb(63, 120, 233);
}
.stateFillEmpty {
  background-color: rgb(255, 255, 255);
}
//
.description {
  margin-bottom: 20px;
  font-size: 13px;
}

.info {
  background-color: variables.$blue-bg-color;
  height: 190px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paramBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.key {
  color: variables.$white-text-color;
}
.value {
  font-weight: 400;
}
.ability {
  width: fit-content;
}
.types {
  display: flex;
  gap: 5px;
}
.type {
  height: 35px;
  line-height: 35px;
  box-sizing: content-box;
  width: 7vw;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
