@use '../../styles/variables.scss' as variables;

.heading {
  text-align: center;
  font-weight: 400;
  font-family: 'Asimovian';
}
.number {
  color: variables.$gray-text-color;
}
.page {
  height: 100%;
}

.mainContent {
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  margin-top: 50px;
}
.imageHolder {
  width: 100%;
}
.image {
  width: 100%;
  padding: 50px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.412);
}
.stats {
  margin-top: 60px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.412);
  border-radius: 10px;
  background-color: rgb(192, 191, 191);
}
//
.description {
  margin-bottom: 20px;
  font-size: 13px;
}

.info {
  background-color: variables.$blue-bg-color;
  height: 190px;
  width: 350px;
  border-radius: 10px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paramBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.key {
  color: variables.$white-text-color;
}
.value {
  font-weight: 400;
}
.ability {
  width: fit-content;
}
.types {
  display: flex;
  gap: 5px;
}
.type {
  height: 25px;
  width: 115px;
  background-color: #9bcc50;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
}
