.header {
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: var(--header-height);
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoCont {
  display: block;
  height: 70%;
  margin-left: 30px;
}
.logo {
  height: 140%;
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  a {
    color: var(--text-color);
  }
}
.accountLink {
  display: flex;
  align-items: center;
}
.userAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .logo {
    left: 30%;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 1050px) {
  .nav {
    width: 50%;
  }
  .logo {
    left: 20%;
  }
}
@media (min-width: 1050px) and (max-width: 2500px) {
  .nav {
    width: 40%;
  }
  .logo {
    left: 15%;
  }
}
@media (min-width: 1900px) {
  .nav {
    width: 38%;
  }
  .nav {
    font-size: 3rem;
  }
  .logo {
    left: 6%;
  }
}
