.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: calc(var(--header-height) + 10px);
  background-color: white;
  min-height: 100vh;
}

.pokemonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: 'Asimovian';
  padding: 0 30px;
}
.containerHolder {
  position: relative;
}
.pokemonCard {
  min-width: 290px;
  position: relative;
  z-index: 10;
  background-color: rgb(246, 246, 246);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.395);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 20px;

  .name {
    font-size: 20px;
  }
  .pokemonId {
    color: $gray-text-color;
    font-size: 20px;
  }
  .pokeCardImageAndId {
    width: 60%;
    display: flex;
    align-items: center;
    .imageCont {
      flex: 1;

      .pokemonImage {
        width: 100%;
        min-width: 100px;
      }
    }
  }
}
.skeleton {
  min-height: 96px;
  width: 100%;
}

// all info
.allInfo {
  position: absolute;
  background-color: rgb(246, 246, 246);
  z-index: 100;
  // border-radius: 5px;

  /* prettier-ignore */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.43);

  top: 100%;
  left: 0.25%;
  width: 99.5%;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // display: none;
}
//stats
.statHeading {
  font-size: 20px;
}
.underLine {
  width: 100%;
  height: 1px;
  border-top: 1px solid gray;
}
.imageContAllInfo {
  height: 50%;
  width: fit-content;
  margin: 0 auto;
  .pokemonImageAllInfo {
    height: 100%;
  }
}

.types {
  display: flex;
  gap: 10px;
  .type {
    display: inline-block;
    color: white;
    border-radius: 20px;
    padding: 4px 10px;
  }
}
@media (max-width: 350px) {
  .pokemonCard {
    flex-direction: column;
    padding: 0 10px;
  }
}
@media (max-width: 425px) {
  .pokemonsContainer {
    .pokemonImage {
      max-height: 300px;
    }
    .pokemonId {
      display: none !important;
    }
  }
}
@media (max-width: 515px) {
  .pokemonsContainer {
    padding: 0 10px;

    .pokemonId {
      display: inline-block;
    }
  }
}
@media (max-width: 670px) {
  .pokemonCard {
    .name {
      font-size: 33px;
    }
    .pokemonId {
      font-size: 25px;
    }
  }
  .pokemonsContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }
}

@media (min-width: 670px) and (max-width: 1000px) {
  .pokemonsContainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 2500px) and (max-width: 3000px) {
  .wrapper {
    max-width: 1500px;
  }
}
@media (min-width: 3000px) {
  .wrapper {
    max-width: 2000px;
  }
  .pokemonCard {
    .name {
      font-size: 35px;
    }
    .pokemonId {
      font-size: 30px;
    }
  }
}
