@use '../../styles/variables.scss' as variables;

.pokemonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  font-family: 'Asimovian';
}
.pokemonCard {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.43);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 0 20px;
  .imageCont {
  }
  .name {
    font-size: 20px;
  }
  .pokemonId {
    color: variables.$gray-text-color;
    font-size: 20px;
  }
  .pokeCardImageAndId {
    display: flex;
    align-items: center;
  }
}
.skeleton {
  min-height: 96px;
  width: 100%;
}
