.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: variables.$header-height;
  background-color: variables.$white-bg-color;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'heading heading'
    'sideBar content';
}
.heading {
  grid-area: heading;
  // background-color: variables.$light-gray-bg-color;
  padding: 10px 30px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.192);
  .h1 {
    font-size: 30px;
    color: gray;
  }
}

.sideBar {
  grid-area: sideBar;
  padding: 30px 10px 0;
  .sideBarLink {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 119, 0, 0.214);
    }
  }
  .sideBarLinkActive {
    border-left: 5px solid orange;
    a {
      color: rgb(255, 119, 0);
    }
  }
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-areas: 'accInfo personalInfo';
  padding: 0px;
}

///
.accountInfo {
  padding: 20px 100px 0px 0px;
}
.accountInfoHeading {
  color: gray;
  font-size: 40px;
  border-bottom: 1px solid gray;
}
.accInfoSection {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .accInfoCouple {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
  }
}

//
.personalInfo {
  padding: 20px;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.616);
}
.avatarImageCont {
  overflow: hidden;
  border-radius: 3px;
  border: 2px solid rgb(188, 186, 186);
  min-height: 300px;
  .avatarImage {
    width: 100%;
  }
}
.signOutButton {
  background-color: red;
  cursor: pointer;
  border: none;
  color: white;
  padding: 5px 20px;
}
