$blue-bg-color: #30a7d7;
$gray-bg-color: rgb(192, 191, 191);
$light-gray-bg-color: rgb(233, 233, 233);
$white-bg-color: white;

$white-text-color: white;
$gray-text-color: gray;

$header-height: 100px;
